{% extends "base.html" %}
{% block title %} update {% if i %} {{ i.email }} {% endif %} {% endblock %}
{% block content %}

{% if i %}
<h1 class="lead my-3">update {{ i.email }}..</h1>

<div class="card">
<form class="mb-2" method="POST">
    <div class="card-body">
        <div class="mb-3">
            <sup>email..</sup>
            <input
                type="email"
                name="email"
                value="{{ i.email }}"
                class="form-control"
            />
        </div>
        <div class="m-2">
            <sup class="float-start mb-2">username..</sup>
            <input
                type="text"
                name="username"
                value="{{ i.username }}"
                class="form-control my-2"
            />
        </div>
    </div>
    <div class="card-footer m-2">
        <button type="submit" class="btn btn-outline-primary btn-sm">
            submit
        </button>
    </div>
</form>
</div>
<div class="card">
    <div class="card-footer d-flex">
        <a class="page-link p-1 border" href="/account/password-change">
            <sub>password change..</sub>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}
