{% extends "base.html" %}
{% block title %} all booking {% endblock title %}

{% block content %}

<h1 class="container lead my-2">all days..</h1>

{% for i in all %}
<div class="card">

<div class="card-body">
<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<span class="badge text-bg-primary">completed</span> {{ i.completed }}
	</li>
	<li class="list-group-item">
	<span class="badge text-bg-light">id</span>{{ i.id }}
	<span class="badge text-bg-light">owner</span>{{ i.user_id }}
	</li>
	<li class="list-group-item">
	<span class="badge text-bg-light">start date</span>
	{% if i.st_date %}
	{{ i.st_date }}
	{% endif %}
	<span class="badge text-bg-light">end date</span>
	{% if i.en_date %}
	{{ i.en_date }}
	{% endif %}
	</li>
	<li class="list-group-item">
	<span class="badge text-bg-light">start dates</span>
	{% if i.s_dates %}
	{% for s in i.s_dates %}
		{{ s }},
	{% endfor %}
	{% endif %}
	<span class="badge text-bg-light">end dates</span>
	{% if i.e_dates %}
	{% for e in i.e_dates %}
		{{ e }},
	{% endfor %}
	{% endif %}
	</li>
	<li class="list-group-item">
	<span class="badge text-bg-light">dates</span>
	{% if i.dates %}
	{% for d in i.dates %}
	{{ d }},
	{% endfor %}
	{% endif %}
	</li>
</ul>

<ul class="list-group list-group-flush">
	<li class="list-group-item">
		<sup>title</sup> {{ i.title }}
	</li>
	
	<li class="list-group-item">
	<sup>created</sup>
	<time>
	{{ i.created_at }}
	</time>
	</li>
	<li class="list-group-item">
	{% if i.updated_at %}
	<sup>updated</sup> 
	<time>{{ i.updated_at | date(format="%Y-%m-%d %H:%M") }}</time>
	{% endif %}
	</li>
</ul>

</div>

<div class="card-footer">
<a class="btn btn-outline-primary btn-sm" href="/provision/detail-days/{{ i.id }}" role="button">
	details
</a>
</div>

</div>

<hr>

{% endfor %}	  
{% endblock content %}