{% extends "base.html" %}
{% block title %} index axum diesel {% endblock title %}

{% block content %}

<p class="mt-3">
    <a class="page-link" href="/account/users">View all users</a>
</p>
<section class="promo_slider container mt-3">
    <div class="sl_content">
        <figure id="item-1" class="card_i">
            <img class="img" src="/assets/sl/img/p1.jpg">
            <figcaption class="content">
                <span class="number" data-text="1"> 1 </span>
                <span class="item_name">
                    <span>item 1 name</span>
                </span>
                <div class="content_text">
                    content 1 text
                    <hr />
                    <a class="btn btn-outline-primary btn-sm" href="">
                        1 a..
                    </a>
                </div>
            </figcaption>
        </figure>

        <figure id="item-2" class="card_i">
            <img class="img" src="/assets/sl/img/p2.jpg">
            <figcaption class="content">
                <span class="number" data-text="2"> 2 </span>
                <span class="item_name">
                    <span>item 2 name</span>
                </span>
                <div class="content_text">
                    content 2 text
                    <hr />
                    <a class="btn btn-outline-primary btn-sm" href="">
                        2 a..
                    </a>
                </div>
            </figcaption>
        </figure>

        <figure id="item-3" class="card_i">
            <img class="img" src="/assets/sl/img/p3.jpg">
            <figcaption class="content">
                <span class="number" data-text="3"> 3 </span>
                <span class="item_name">
                    <span>item 3 name</span>
                </span>
                <div class="content_text">
                    content 3 text
                    <hr />
                    <a class="btn btn-outline-primary btn-sm" href="">
                        3 a..
                    </a>
                </div>
            </figcaption>
        </figure>

    </div>
    <div class="sld_trigger"></div>
</section>

{% endblock %}

{% block css %}<link href="/assets/sl/slider.css" rel="stylesheet">{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="/assets/sl/slider.js"></script>
{% endblock %}
