
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <img
            src="/assets/icon/img/apple-touch-icon.png"
            alt="logo"
            height="32"
        />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                        >&</a
                    >
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="dropdown-item" href="/">home</a>
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/users"
                                >users</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/import"
                                >import csv</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/export"
                                >export csv</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="dropdown-item" href="/account/photo"
                                >photo</a
                            >
                        </li>
                        
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/account/login">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">login</sup>
                            </a>
                        </li>
                        
                        <li>
                            <a class="dropdown-item" href="/account/signup">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">register</sup>
                            </a>
                        </li>

                        <li class="bg-success-subtle">
                            <a class="dropdown-item" href="/account/who-is-who">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">who's who</sup>
                            </a>
                        </li>

                        <hr class="dropdown-divider" />

                        <li class="bg-danger-subtle">
                            <a class="dropdown-item" href="/account/logout">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">logout</sup>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        booking
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/booking/all-booking">
                                <sup class="ms-2">all booking</sup>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/booking/creat-period-days">
                                <sup class="ms-2">creat period days</sup>
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        provision
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="/provision/all-days">
                                <sup class="ms-2">all days provision</sup>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/provision/creat-days">
                                <sup class="ms-2">creat days provision</sup>
                            </a>
                        </li>

                        <hr class="dropdown-divider" />

                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
