
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5">
    <div class="container-fluid">
        <img
            src="/assets/icon/img/apple-touch-icon.png"
            alt="logo"
            height="32"
        />
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                        >&</a
                    >
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/">home</a>
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/users"
                                ><sup>users</sup></a
                            >
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/import"
                                ><sup>import csv</sup></a
                            >
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/export"
                                ><sup>export csv</sup></a
                            >
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/photo"
                                ><sup>photo</sup></a
                            >
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/chat-user/user"
                                ><sup>public chat</sup></a
                            >
                        </li>
                        <li class="nav-item">
                            <a title="sitemap" class="dropdown-item sitemap" href="/chat-user/dialogue-owner?page="
                                ><sup>deleting messages</sup></a
                            >
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="bg-success-subtle">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/login">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">login</sup>
                            </a>
                        </li>
                        
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/signup">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">register</sup>
                            </a>
                        </li>

                        <li class="bg-success-subtle">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/who-is-who">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">who's who</sup>
                            </a>
                        </li>

                        <hr class="dropdown-divider" />

                        <li class="bg-danger-subtle">
                            <a title="sitemap" class="dropdown-item sitemap" href="/account/logout">
                                <i class="bi bi-person"></i>
                                <sup class="ms-2">logout</sup>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        booking
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/booking/all-booking">
                                <sup class="ms-2">all booking</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/booking/creat-period-days">
                                <sup>creat period days</sup>
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        provision
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/provision/creat-days">
                                <sup>creat days provision</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/provision/all-days">
                                <sup>all days provision</sup>
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/provision/creat-hours">
                                <sup>creat hours provision</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/provision/all-hours">
                                <sup>all hours provision</sup>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        schedule
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/schedule/all-sch">
                                <sup>all schedule</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/schedule/creat">
                                <sup>create schedule</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/schedule/select">
                                <sup>selection schedule</sup>
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/schedule/places">
                                <sup>selection places</sup>
                            </a>
                        </li>
                        <hr class="dropdown-divider" />
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/schedule/all-recording">
                                <sup>all recording</sup>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="bg-success-subtle">
                            <a title="sitemap" class="dropdown-item sitemap" href="/products/creat">
                                <sup>creat products</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/products/all">
                                <sup>all products</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/products/select">
                                <sup>select categories</sup>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        ssc
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="bg-success-subtle">
                            <a title="sitemap" class="dropdown-item sitemap" href="/subscriptions/creat-group">
                                <sup>creat group</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/subscriptions/groups">
                                <sup>all groups</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/subscriptions/ssc-owner">
                                <sup>owner subscriptions</sup>
                            </a>
                        </li>
                        <li>
                            <a title="sitemap" class="dropdown-item sitemap" href="/subscriptions/ssc-to-user">
                                <sup>to user subscriptions</sup>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
