{% extends "base.html" %}
{% block title %} users list {% endblock title %}

{% block content %}

<h1 class="lead my-3">all users</h1>

{% if users %}
<div class="card">

    <div class="card-body">
    <ul class="list-group list-group-flush">
    {% for i in users %}
        <li class="list-group-item">
        <span>{{ i.id }}</span>
        <span class="mx-2">{{ i.username }}</span>
        <a href="/account/user/{{ i.username }}">{{ i.email }}</a>

        <form method="POST">
        <input type="hidden" name="to_user" value="{{ i.id }}" />
        <input type="submit" value="subscribe" class="btn btn-sm btn-outline-primary mt-2">
        </form>

        </li>
    {% endfor %}
    </ul>
    </div>

</div>

{% endif %}
{% endblock content %}