{% extends "base.html" %}
{% block title %} products {{ i.title }} {% endblock title %}
{% block content %}

<h1 class="container lead my-3">products..</h1>

<div class="card">
	<div class="card-header">
	<ul class="list-group list-group-flush">
		{% include "completed.html" %}
		<li class="list-group-item">
		<sup class="badge text-bg-light">id..</sup>
			<sub>{{ i.id }}</sub>
		<sup class="badge text-bg-light">owner..</sup>
			<sub>{{ i.user_id }}</sub>
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">title..</sup>
				{{ i.title }}
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">description..</sup>
				{{ i.description }}
		</li>
	</ul>
	</div>
	<div class="card-body">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
		<sup class="badge text-bg-light">categories..</sup>
		{% if i.categories %}
			{% for c in i.categories %}
			<sub>{{ c }}</sub>
			{% endfor %}
		{% endif %}
		</li>
	</ul>
	</div>

	{% if i.amount %}
	<div class="card-body">
	<sup>amount..</sup>
	<ul class="list-group list-group-horizontal my-2">
		{% if i.amount.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sup>{{ i.amount.container }}</sup>
		</li>
		{% endif %}
		{% if i.amount.boxes %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sub>{{ i.amount.boxes }}</sub>
		</li>
		{% endif %}
		{% if i.amount.carton %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sub>{{ i.amount.carton }}</sub>
		</li>
		{% endif %}
		{% if i.amount.units %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sub>{{ i.amount.units }}</sub>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}

	{% if i.price %}
	<div class="card-body">
	<sup>price..</sup>
	<ul class="list-group list-group-horizontal my-2">
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sub>{{ i.price.container }}</sub>
		</li>
		{% endif %}
		{% if i.price.boxes %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sub>{{ i.price.boxes }}</sub>
		</li>
		{% endif %}
		{% if i.price.carton %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sub>{{ i.price.carton }}</sub>
		</li>
		{% endif %}
		{% if i.price.units %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sub>{{ i.price.units }}</sub>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}

	{% include "created_updated.html" %}

	<div class="card-footer">
	<a class="btn btn-outline-primary btn-sm" href="/purchases/order/{{ i.id }}">
		order
	</a>
	</div>

</div>

{% endblock content %}