{% extends "base.html" %}
{% block title %} all products {% endblock title %}

{% block content %}

<h1 class="container lead my-3">all products..</h1>

{% for i in all %}
<div class="card mb-2">
	<div class="card-header">
	<ul class="list-group list-group-flush">
		{% include "completed.html" %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">id..</sup>
				<sup>{{ i.id }}</sup>
			<sup class="badge text-bg-light">owner..</sup>
				<sup>{{ i.user_id }}</sup>
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">title..</sup>
				<sup>{{ i.title }}</sup>
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">categories..</sup>
			{% if i.categories %}
				{% for c in i.categories %}
				<sup>{{ c }}</sup>
				{% endfor %}
			{% endif %}
		</li>
	</ul>
	</div>
	{% if i.amount %}
	<div class="card-header">
	<sup class="badge bg-success">amount..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.amount.container %}
			<li class="list-group-item">
				<sup class="badge text-bg-light">container..</sup>
					<sup>{{ i.amount.container }}</sup>
			</li>
		{% endif %}
		{% if i.amount.boxes %}
			<li class="list-group-item">
				<sup class="badge text-bg-light">boxes..</sup>
					<sup>{{ i.amount.boxes }}</sup>
			</li>
		{% endif %}
		{% if i.amount.carton %}
			<li class="list-group-item">
				<sup class="badge text-bg-light">carton..</sup>
					<sup>{{ i.amount.carton }}</sup>
			</li>
		{% endif %}
		{% if i.amount.units %}
			<li class="list-group-item">
				<sup class="badge text-bg-light">units..</sup>
					<sup>{{ i.amount.units }}</sup>
			</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}
	{% if i.price %}
	<div class="card-body">
	<sup class="badge bg-success">price..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sup>{{ i.price.container }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sup>{{ i.price.boxes }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sup>{{ i.price.carton }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sup>{{ i.price.units }}</sup>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}

	{% include "created_updated.html" %}

	<div class="card-footer">
	<a class="btn btn-outline-primary btn-sm" href="/products/detail/{{ i.id }}"  role="button">
		details
	</a>
	</div>
</div>

{% endfor %}
{% endblock content %}