{% extends "base.html" %}
{% block title %} all categories {% endblock title %}

{% block content %}

<h1 class="container lead my-3">all categories</h1>

{% for i in all %}
<div class="card mb-2">
	<div class="card-header">
	<ul class="list-group list-group-flush">
		<li class="list-group-item">
			<sup class="badge text-bg-light">id..</sup>
				<sub>{{ i.id }}<sup>
			<sup class="badge text-bg-light">owner..</sup>
				<sub>{{ i.user_id }}<sup>
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">title..</sup>
				<sub>{{ i.title }}</sub>
		</li>
		<li class="list-group-item list-group-item-primary">
			{% if v[0] %}
			<sup class="badge text-bg-light">start..</sup>
				<time><sub>{{ v[0] | date(format="%Y-%m-%d %H:%M") }}</sub></time>
			{% endif %}
			{% if v[1] %}
			<sup class="badge text-bg-light">end..</sup>
				<time><sub>{{ v[1] | date(format="%Y-%m-%d %H:%M") }}</sub></time>
			{% endif %}
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">categories</sup>
			{% if i.categories %}
				{% for c in i.categories %}
				<sub>{{ c }}</sub>
				{% endfor %}
			{% endif %}
		</li>
	</ul>
	</div>
	{% if i.amount %}
	<div class="card-body">
	<sup class="badge bg-success">amount..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.amount.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sub>{{ i.amount.container }}</sub>
		</li>
		{% endif %}
		{% if i.amount.boxes %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sub>{{ i.amount.boxes }}</sub>
		</li>
		{% endif %}
		{% if i.amount.carton %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sub>{{ i.amount.carton }}</sub>
		</li>
		{% endif %}
		{% if i.amount.units %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sub>{{ i.amount.units }}</sub>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}
	{% if i.price %}
	<div class="card-body">
	<sup class="badge bg-success">price..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				}}</sub> i.price.container }}</sub>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				}}</sub> i.price.boxes }}</sub>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sub>{{ i.price.carton }}</sub>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sub>{{ i.price.units }}</sub>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}

	{% include "created_updated.html" %}

	<div class="card-footer">
	<a class="btn btn-outline-primary btn-sm" href="/products/detail/{{ i.id }}"  role="button">
		details
	</a>
	</div>

</div>

{% endfor %}
{% endblock content %}