{% extends "base.html" %}
{% block title %} purchases {{ i.title }} {% endblock title %}

{% block content %}

<h1 class="container lead my-3">purchases</h1>

<div class="card">
	<div class="card-header">
	<ul class="list-group list-group-flush">
		{% include "completed.html" %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">id..</sup>
				<sup>{{ i.id }}</sup>
			<sup class="badge text-bg-light">owner</sup>
				<sup>{{ i.user_id }}</sup>
		</li>
		<li class="list-group-item">
			<sup class="badge text-bg-light">title</sup>
				{{ i.title }}
		</li>
		<li class="list-group-item">
		<sup class="badge text-bg-light">categories</sup>
		{% if i.categories %}
			{% for c in i.categories %}
			<sup>{{ c }}</sup>
			{% endfor %}
		{% endif %}
		</li>
	</ul>
	</div>
	{% if i.amount %}
	<div class="card-body">
	<sup class="badge bg-success">amount..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.amount.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sup>{{ i.amount.container }}</sup>
		</li>
		{% endif %}
		{% if i.amount.boxes %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sup>{{ i.amount.boxes }}</sup>
		</li>
		{% endif %}
		{% if i.amount.carton %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sup>{{ i.amount.carton }}</sup>
		</li>
		{% endif %}
		{% if i.amount.units %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sup>{{ i.amount.units }}</sup>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}
	{% if i.price %}
	<div class="card-body">
	<sup class="badge bg-success">price..</sup>
	<ul class="list-group list-group-horizontal">
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">container..</sup>
				<sup>{{ i.price.container }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">boxes..</sup>
				<sup>{{ i.price.boxes }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">carton..</sup>
				<sup>{{ i.price.carton }}</sup>
		</li>
		{% endif %}
		{% if i.price.container %}
		<li class="list-group-item">
			<sup class="badge text-bg-light">units..</sup>
				<sup>{{ i.price.units }}</sup>
		</li>
		{% endif %}
	</ul>
	</div>
	{% endif %}

	{% include "created_updated.html" %}

</div>
<div class="card">
	<form class="mt-2" method="POST">
		<div class="card-header">
		<style type="text/css">
		    input::-webkit-outer-spin-button,
		    input::-webkit-inner-spin-button {
		        -webkit-appearance: none;
		        margin: 0;
		    }
		    input[type=number] {
		        -moz-appearance:textfield;
		    }
		</style>
		</div>
		<div class="card-body">
			<sup>amount</sup>
			<ul class="list-group list-group-flush">
				{% if i.amount.container %}
				<li class="input-group">

				<input required type="number" name="a_container" min="1" max="100" placeholder="container" class="count form-control" />

				<input type="hidden" name="price" value="{{ i.price.container }}" class="price form-control" />

				<sup class="mx-3">total</sup>
				<input type="text" name="output" class="output form-control" />

				</li>
				{% endif %}
				{% if i.amount.boxes %}
				<li class="input-group">

				<input required type="number" name="a_boxes" min="1" max="100" placeholder="boxes"  class="count form-control" />

				<input type="hidden" name="price1" value="{{ i.price.boxes }}" class="price form-control" />

				<sup class="mx-3">total</sup>
				<input type="text" name="output" class="output form-control" />

				</li>
				{% endif %}
				{% if i.amount.carton %}
				<li class="input-group">

				<input required type="number" name="a_carton" min="1" max="100" placeholder="carton"  class="count form-control" />

				<input type="hidden" name="price2" value="{{ i.price.carton }}" class="price form-control" />

				<sup class="mx-3">total</sup>
				<input type="text" name="output" class="output form-control" />

				</li>
				{% endif %}
				{% if i.amount.units %}
				<li class="input-group">

				<input required type="number" name="a_units" min="1" max="100" placeholder="units" class="count form-control" />

				<input type="hidden" name="price3" value="{{ i.price.units }}" class="price form-control" />

				<sup class="mx-3">total</sup>
				<input type="text" name="output" class="output form-control" />

				</li>
				{% endif %}
				<li id="grand" class="list-group-item">
					<p><sup>grand total..</sup></p>
					<input type="text" name="gran" id="gran" class="i1 form-control">
				</li>
			</ul>
		</div>
		<input type="hidden" name="product_id" value="{{ i.id }}" />
		<div class="card-footer action-buttons">
			<input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-2">
		</div>
	</form>
</div>
</div>

{% endblock content %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>

    $(document).ready(function() {
        $(".count").keyup(function() {
            var grandTotal = 0;
            $(".price").each(function (index) {
                var price = $(".price").eq(index).val();
                var count = $(".count").eq(index).val();
                var output = parseInt(price) * parseInt(count);
                if (!isNaN(output)) {
                $(".output").eq(index).val(output);
                grandTotal = parseInt(grandTotal) + parseInt(output);
                   $('#gran').val(grandTotal);
                }
            });
        });
    });

</script>
{% endblock %}